@import"_payment";
@import"_home";
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img{
    width:5em;
}

.hide-mobile-view{
    display: none;
}
header{
    min-height: 10vh;
    position: absolute;
}

section{
    height: 100vh;
    overflow-y: hidden;
    
}

body{
    overflow-y: hidden;
}
    
    nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    background-color: #1B2223;
    z-index: 999;
    color: white;
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        padding-left: 0;
        list-style: none;
    }
    a{
        color: white;
    }
}

#nav-items{
    background-color: #1B2223;
    width: 100vw;
    margin-top: 3.49em;
    padding-top: 1em;
    height: 15em;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
        display: flex;
        justify-content: space-around;
        
        color: white;
        text-decoration: none;
        text-align: center;
        li{
            margin: 0 3em;
        }
    }
    a{
        color: white;
        text-decoration: none;
    }
}

.view{
    padding-top: 5em;
}


#map {
    height:30em;
    width: 30em;
    position: relative;
    z-index: 20;
}

.formBlock {
    max-width: 300px;
    background-color: #FFF;
    border: 1px solid #ddd;
    // position: absolute;
    top: 5em;
    left: 5em;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 5px;
    width: 100%;
}

// .leaflet-top .leaflet-control {
//     margin-top: 180px;
// }

.input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
    border-radius: 3px;
}

#form {
    padding: 0;
    margin: 0;
}
input:nth-child(1) {
    margin-bottom: 10px;
}


.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}

.showSelected{
    border: 5px black dotted;
}