img{
    width:2em;
}

.hide-mobile-view{
    display: none;
}

.view{
    height: 100vh;
}
.container{
    height: 100vh;
    position: relative;
}

nav{
    position: absolute;
    top: 0;
    ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100vw;
    }
}
